<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static "css/news.css" %}">
  </head>
  <body>
  <div class="container">
  <ul>
    <li><h3>Madhya Pradesh Assembly election: BJP expels 53 rebel leaders, including Sartaj Singh, Narendra Khushwaha for 'indiscipline' ahead of polls</h3><br>The Bhartiya Janata Party (BJP) in Madhya Pradesh expelled 53 rebel leaders from the party for "indiscipline" on Thursday. In a major action taken against the turncoats ahead of the upcoming Assembly elections, BJP has removed senior leader Sartaj Singh, former minister Ramkrishna Kusmaria and Bhind MLA Narendra Kushwaha from the party.
File photo of Madhya Pradesh chief minister Shivraj Singh Chouhan. PTI

File photo of Madhya Pradesh chief minister Shivraj Singh Chouhan. PTI

Singh, who defected to the Congress after being denied ticket from the Seoni-Malwa constituency cried in public after his name did not figure in BJP's list of candidates. The two-time MLA then joined the Congress last week and was immediately named as the Opposition party's nominee for the Hoshangabad Assembly seat. Whereas, Kusmaria announced that he will </li>
</ul>
  </body>
</html>
