<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static "css/news.css" %}">
  </head>
  <body>
    <div class='container' align="center">
      <h1 align="center"> Today's Headlines </h1>
      <hr>
     <ul>
       <img src="{%static "image/virat.jpg" %}" width="500" height="200" >
      <h3> <li>{{news1}}<br></h3>

Virat Kohli scored his 37th One-day International (ODI) hundred on Wednesday. Virat Kohli achieved this feat during the second ODI against the Windies at the Dr. YS Rajasekhara Reddy ACA-VDCA Cricket Stadium in Visakhapatnam. During his stay in the middle, Kohli hit 10 boundaries and scored the century off 106 balls. The Indian run-machine looked in fine touch as he scored runs at will and sent the Windies bowlers on a leather hunt. Virat Kohli made the most of the chances as he was dropped by the Windies captain Jason Holder on 44 off an Obed McCoy slower delivery.

In the process, the flamboyant 29-year-old also became the fastest cricketer to score 10,000 ODI runs, taking just 205 innings. En route this record, he surpassed India legend Sachin Tendulkar's record of reaching the 10,000 ODI-run mark in 259 innings.

Virat Kohli became the fifth Indian and 13th overall player to score 10,000 ODI runs. Virat Kohli is also the second youngest (29y 353d) to the milestone after Tendulkar (27y 341d).

Sachin Tendulkar had achieved this feat back in March 31 in 2001.

Kohli in the 47th over, also went on to score 1000* ODI runs (11 matches) in the year 2018 with an average of 143.43. Now, he also holds the record of scoring 1,000 ODI runs in a calendar year in fewest innings (11) bettering his own record of 2012 (15 innings). Kohli, who remained unbeaten on 157 off 129 balls, registered his fourth 150+ score in ODIs.

The right-handed batsman surpassed Hashim Amla's 15 innings in 2010.

On Wednesday, Kohli completed 4,000 runs in ODIs at home. He became the fastest to do so as he took just 78 innings as compared to Tendulkar's 92.  He also took over Tendulkar's aggregate of 1,573 to become India's highest run-getter in ODIs against the Windies.

Earlier in the second ODI, Kohli won the toss and elected to bat against the Windies. India lost Rohit Sharma (4) and Shikhar Dhawan (29) early. However, the Indian ship was steadied by Kohli and Ambati Rayudu.

The Indian duo stitched together a 139-run partnership to motor India forward towards a competitive total. Ambati Rayudu, who scored his 9th ODI fifty, was dismissed for 73 off 80 balls by spinner Ashley Nurse.
      </li><hr>
       <img src="{%static "image/dhoni.jpg" %}" width="500" height="200">
       <li><h3>{{news2}}</h3>Mahendra Singh Dhoni was dropped from India’s Twenty20 squad for the home series against the West Indies and the crucial away assignment against Australia, signalling a possible end to his run in the shortest format. In the other major decision, skipper Virat Kohli was rested from the T20 series against the West Indies and Rohit Sharma named the stand-in captain of the side.

The committee said that Dhoni, the 2007 World T20-winning skipper, has been “rested” and India are now looking to fill in the second wicketkeeper’s slot. But when asked if Dhoni’s career in T20s is over, Prasad said, “Not yet. We want to try out other keepers for the second keeper’s slot,” said Prasad.

The two keepers in the two T20 squads announced Friday are Rishabh Pant and Dinesh Karthik. The three T20s against Australia will get underway from November 21, followed by a four-Test series and three ODIs. With Dhoni playing only seven T20Is this year and India’s next ODI assignment only in January against Australia, the former captain won’t be getting any domestic matches with both Vijay Hazare and Deodhar Trophy already over.

The 37-year-old, despite being a sharp planner and a safe and agile hand behind the stumps, has been struggling to finish matches with the bat, something that came naturally to him at his peak and made him a modern legend. The decision to “rest” Dhoni might just be the first sign of selectors trying to phase out the maverick former captain in at least one format. A veteran of 93 T20Is, Dhoni has 1487 runs in the format at a strike rate of 127.09.

The only T20Is left in the next six months is a three-game series against New Zealand, which is scheduled in February.
Limited overs squad

In the limited-overs set-up, left-arm spinner Shahbaz Nadeem received his maiden call-up for the T20s against West Indies. Fit-again batsman Kedar Jadhav, whose omission from ODIs came under the scanner, has been brought back for the fourth and fifth ODI.

The BCCI has also selected Vijay, Ajinkya Rahane, Hanuma Vihari, Parthiv Patel, Prithvi Shaw for the India A tour of New Zealand.

The Squads: For three T20I match series against West Indies: Rohit Sharma (C), Shikhar Dhawan, KL Rahul, Dinesh Karthik, Manish Pandey, Shreyas Iyer, Rishabh Pant (wk), Krunal Pandya, Washington Sundar, Yuzvendra Chahal, Kuldeep Yadav, Bhuvneshwar Kumar, Jasprit Bumrah, Khaleel Ahmed, Umesh Yadav, Shahbaz Nadeem.

For four-match Test series against Australia: Virat Kohli (C), M Vijay, KL Rahul, Prithvi Shaw, Cheteshwar Pujara, Ajinkya Rahane, Hanuma Vihari, Rohit Sharma, Rishabh Pant, Parthiv Patel, R Ashwin, Ravindra Jadeja, Kuldeep Yadav, Mohammed Shami, Ishant, Umesh Yadav, Jasprit Bumrah, Bhuvneshwar Kumar.

For three-match T20I series against Australia: Virat Kohli (C), Rohit Sharma (vc), Shikhar Dhawan, KL Rahul, Shreyas Iyer, Manish Pandey, Dinesh Karthik, Rishabh Pant (wk), Kuldeep Yadav, Yuzvendra Chahal, Washington Sundar, Krunal Pandya, Bhuvneshwar Kumar, Jasprit Bumrah, Umesh Yadav, Khaleel Ahmed.

India A team for first four-day game against New Zealand A: Ajinkya Rahane (C), M Vijay, Prithvi Shaw, Mayank Agarwal, Hanuma Vihari, Rohit Sharma, Parthiv Patel (wk), K Gowtham, Shahbaz Nadeem, Md Siraj, Navdeep Saini, Deepak Chahar, R Gurbani, Vijay Shankar, KS Bharath.

Squad: Virat Kohli (captain), Murali Vijay, Lokesh Rahul, Prithvi Shaw, Cheteshwar Pujara, Ajinkya Rahane (vice-captain), Hanuma Vihari, Rohit Sharma, Rishabh Pant, Parthiv Patel, Ravichandran Ashwin, Ravindra Jadeja, Kuldeep Yadav, Mohammed Shami, Ishant Sharma, Umesh Yadav, Jasprit Bumrah, Bhuvneshwar Kumar

       </li><hr>
      <img src="{%static "image/pant.jpg" %}" width="500" height="200">
       <li><h3>{{news3}}</h3>
         58 in 38 balls – at a strike rate of 152.63 including five boundaries and three sixes – that was Rishabh Pant with his first defining knock for India in T20I cricket – against the Windies in Chennai on Sunday in the final game of the series to ensure India completed a 3-0 clean sweep.

  But no one should be surprised. Pant is a natural fit in the format. In his brief playing career so far, he has already given enough evidence of his T20 prowe
</li><hr>
       <img src="{%static "image/dinesh.jpg" %}" width="500" height="200">
       <li><h3>{{news4}}</h3>India is currently playing the home test series against West Indies and are leading 1-0 in the two-match Test series. The BCCI announced the 12 man squad for the final test and also released India's squad for the first two ODIs.

While the selectors have announced an unchanged playing XI for the final Test, the selectors have made plenty of changes for the ODI series. India has rested Bhuvneshwar Kumar, Jasprit Bumrah and has also dropped Dinesh Karthik from the ODI set-up.

The selectors have also recalled Mohammad Shami and have given a chance for young Rishabh Pant to cement his place in the ODI XI. While there have plenty of exclusions and inclusions, we take a look at the players who failed to make it to the squad.
       </li>
     </ul>
</div>
  </body>
</html>
